@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.notification {
    margin-bottom: 25px;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10%;
    box-shadow: 0 0 15px black;
    align-content: center;
    flex-direction: row;
    z-index: 3;
    font-family: 'Montserrat', serif;
}

.pending {
    background-color: #1ae8ff0a;
}

.success {
    background-color: #5cde8742;
}

.error {
    background-color: #e65035;
}