.button-box {
    background-color: #ffffff;
}

.button-box:hover {
    background-color: #bcb9b9;
    transition: background-color ease-out 0.5s;
}

.icon {
    height: 25px;
    width: 40px;
    color: #000000;
}