.button-box{
    position: fixed;
    /*height: 50px;*/
    right: 0;
    bottom: 0;
    padding: 20px 20px;
}

.button-box svg{
    height: 50px;
    width: 40px;
    color: #a7a7a7;
}

.button-box svg:hover{
    color: #dcdada;
    transition: color ease-in 1s;
}