.form-container{
    display: flex;
    flex-direction: column;
}

.form-container input:hover{
    background-color: #323232;
}

.form-container button{
    padding: 10px;
    background-color: #b25d5d;
    border: 0;
}


.form-container button:disabled:hover{
    background-color: #908c8c;
}

.form-container button:disabled{
    background-color: #716e6e;
}

.form-container button:hover{
    background-color: #b23a3a;
}

.form-container .add-card-btn{
    border: 0;
    border-radius: 5px;
    font-size: 17px;
    padding: 15px;
    background-color: #0a7da0;
    color: #020202;
    margin-bottom: 15px;
}

.form-container .add-card-btn:hover {
    background-color: #0a6ca0;
    transition: background-color 0.5s ease-in ;
}